
PhotoRenamer/.vs/PhotoRenamer/v15/.suo
PhotoRenamer/.vs/PhotoRenamer/v15/Server/sqlite3/db.lock
PhotoRenamer/.vs/PhotoRenamer/v15/Server/sqlite3/storage.ide
PhotoRenamer/.vs/PhotoRenamer/v15/Server/sqlite3/storage.ide-shm
PhotoRenamer/.vs/PhotoRenamer/v15/Server/sqlite3/storage.ide-wal
PhotoRenamer/PhotoRenamer/bin/Debug/PhotoRenamer.exe
PhotoRenamer/PhotoRenamer/bin/Debug/PhotoRenamer.exe.config
PhotoRenamer/PhotoRenamer/bin/Debug/PhotoRenamer.pdb
PhotoRenamer/PhotoRenamer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.cache
*.txt
*.pdb
PhotoRenamer/PhotoRenamer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PhotoRenamer/PhotoRenamer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PhotoRenamer/PhotoRenamer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
